/* Roboto Font - Local */
/* Thin (100) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-100.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-100italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-100italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Extra Light (200) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-200.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-200italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-200italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Light (300) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-300.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-300italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular (400) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium (500) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-500.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-500italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-500italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Semi Bold (600) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-600.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-600italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-600italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-700.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-700italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Extra Bold (800) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-800.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-800italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-800italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* Black (900) */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-900.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-v49-latin-900italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-v49-latin-900italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

