# Allow access to PDF files
<FilesMatch "\.(pdf)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Deny access to all other files
<FilesMatch "^(?!.*\.pdf$).*$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

